<div class="container" [@routerTransition]>
  <div class="login-page">
    <div class="row justify-content-start no-gutters">
      <div class="col-5 col-sm-7 col-md-8 col-lg-8 col-xl-9 container-background"></div>
      <div class="col-7 col-sm-5 col-md-4 col-lg-4 col-xl-3 container-form">
        <img src="./assets/images/logo.svg" class="col-10 company-logo" />
        <div class="alert alert-info" role="alert" style="text-align: justify;">
          TechnipFMC employees can use their Microsoft (Digicorner) account credentials to log in.
        </div>
        <app-login-feature></app-login-feature>
      </div>
    </div>
  </div>
</div>
