.agm-map {
  height: 580px !important;
}

.leaflet-tooltip-left {
  margin-left: -65px !important;
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  .agm-map {
    height: 200px !important;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {
  .agm-map {
    height: 200px !important;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {
  .agm-map {
    height: 200px !important;
  }
}

