.box-area {
    width: 930px;
}

.bg {
    background-image: url("../../../assets/images/curry-leaves.png");
    background-repeat: no-repeat;
    background-position: top right;
}

.bg-dark {
    background: linear-gradient(to bottom, #383839, #242526) !important;
    border: 1px inset #6f6d6d;
    filter: drop-shadow(5px 15px 15px #222);
}

.right-box {
    padding: 0px 30px 0px 40px;
}

::placeholder {
    font-size: 16px;
}

.input-group {
    border: 0.5px solid #848485;
}

.btn-custom {
	background: transparent;
    border-radius: 4px;
    border: 0.5px solid #848485;
    color: #afafaf;
}

.btn-custom:hover {
    background: var(--hover-color);
    border: 0.5px solid var(--hover-color);
    color: #242526;
    font-weight: 500;
}

.btn-custom:focus-visible {
    color: #242526;
    background-color: var(--hover-color);
    border-color: var(--hover-color);
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(245, 164, 64, 0.3843137255);
}

.form-link:focus-visible {
    border: 0;
    outline: 0;
    color: var(--hover-color);
    text-decoration: underline;
}

@media only screen and (max-width: 768px) {
    .box-area {
      margin: 0 10px;
    }
  
    .left-box {
      height: 100px;
      overflow: hidden;
    }
  
    .right-box {
      padding: 20px;
    }
  }
  

  @media (min-width: 768px) {
    .col-md-6 {
        float: left;
        width: 50%;
    }
}