#panel-body-projects {
  height: 100vh !important;
  max-height: 100vh !important;
  overflow-y: auto !important;
}

#panel-container-map {
  min-height: 100% !important;
}

.card-header {
  min-height: 68px;
}

@media only screen and (min-height: 700px) {
  #panel-body-projects {
    height: 75vh !important;
    max-height: 75vh !important;
    overflow-y: auto !important;
  }
}

@media only screen and (min-height: 900px) and (max-height: 1400px) {
  #panel-body-projects {
    height: 80vh !important;
    max-height: 80vh !important;
    overflow-y: auto !important;
  }
}

.custom-select:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 157, 214, 0.5);
}

.input-group {
  .input-group-append > .input-group-text, .input-group-prepend > .input-group-text {
    color: #009dd6;
    border-color: #009dd6;
    background-color: transparent;
  }
  input, input.form-control{
    color: #009dd6;
    border-color: #009dd6;
  }
  input::placeholder, input.form-control::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    opacity: 1; /* Firefox */
    color: #009dd6;
  }
  input:-ms-input-placeholder, input.form-control:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #009dd6;
  }
  input::-ms-input-placeholder, input.form-control::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #009dd6;
  }
  input:focus, input.form-control:focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 157, 214, 0.5);
  }
}

.custom-hr {
  border-top: 0.4rem solid rgba(0, 0, 0, 0.1);
  border-radius: 0.2rem;
}

// ## Feedback Styles ==================================
.feedbackModal-module-content{
  margin-top: 8px;
  margin-bottom: 14px;
  display: flex;
  flex-direction: column;
}

.feedbackModal-module-choiceBox{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-height: 120px;
}

.feedbackModal-module-choice{
  line-height: normal;
  text-align: center;
  height: 110px;
  width: 100%;
  min-width: 62px;
  padding: 0;
  margin: 8px;
  border-radius: 3px;
  cursor: pointer;
  background: none;
  color: #53565a;
  border: 1px solid #53565a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  outline: none;
  transition: all 150ms cubic-bezier(0.4, 0, 0.2, 1);
  box-sizing: border-box !important;
}

.feedbackModal-module-choice>svg, .feedbackModal-module-choice-active>svg {
  width: 44px;
  height: 44px;
  margin-bottom: 6px;
}

.feedbackModal-module-choice>div {
  color: #53565a;
  width: 80%;
  font-size: 14px;
  line-height: 1.3;
}

.feedbackModal-module-choice-active>div{
  width: 80%;
  font-size: 14px;
  line-height: 1.3;
}

.feedbackModal-module-choice:focus, .feedbackModal-module-choice:hover {
  border-color: #00a3e0;
  transform: scale(1.1);
}

.feedbackModal-module-choice-active{
  line-height: normal;
  text-align: center;
  height: 110px;
  width: 100%;
  min-width: 62px;
  padding: 0;
  margin: 8px;
  border-radius: 3px;
  cursor: pointer;
  background: none;
  color: #00a3e0;
  border: 1px solid #00a3e0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  outline: none;
  transition: all 150ms cubic-bezier(0.4, 0, 0.2, 1);
  box-sizing: border-box !important;
  transform: scale(1.1);
}


.feedbackModal-module-choice-active > svg, .feedbackModal-module-choice-active > div, .feedbackModal-module-choice:hover > svg, .feedbackModal-module-choice:hover > div {
  color: #00a3e0;
}

.title-module-title{
  color: #00a3e0;
  font-weight: bold;
  font-size: 14px;
  padding: 4px;
  margin-top: 0px;
  margin-bottom: 2px;
  text-align: left !important;
  margin-right: 8px;
}

.label-radio{
  margin-top: 3px;
  padding-left: 0px;
}

.textArea-module-textarea{
  font-family: inherit;
  resize: none;
  box-sizing: border-box;
  width: 100%;
  height: 115px;
  background-color: #f5fafc;
  border: none;
  border-bottom: 1px solid #53565a;
  color: #53565a;
  padding: 16px;
  outline: none;
  margin-bottom: 16px;
  transition: all 200ms cubic-bezier(0.4, 0, 0.2, 1);
  text-align: left !important;
  line-height: 1.4 !important;
  border-radius: 0;
}

.input-module-input{
  right: 0;
  resize: none;
  box-sizing: border-box;
  width: 100%;
  background-color: #f5fafc;
  color: #53565a;
  border: none !important;
  border-bottom: 1px solid #53565a !important;
  outline: none;
  margin-bottom: 5px 0px 15px 0px;
  transition: all 200ms cubic-bezier(0.4, 0, 0.2, 1);
  text-align: left !important;
  padding: 12px 8px 8px;
  border-radius: 0 !important;
}

.input-module-input:disabled{
  opacity: 0.5;
}

.happinessPicker-module-happinessRoot{
  display: table-cell;
  flex-direction: row;
  justify-content: space-around;
  margin: 8px 0 16px;
}

.happinessPicker-module-singleHappiness{
  margin: 0;
  border: none;
  background: none;
  padding: 4px;
  width: 54px;
  height: 64px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
  border-bottom: 1px solid transparent;
  border-radius: 0;
  cursor: pointer;
  box-sizing: content-box;
  line-height: normal;
  text-align: center;
}
  
.happinessPicker-module-singleHappiness > svg{
  height: 42px;
  width: 42px;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.happinessPicker-module-singleHappiness > div{
  font-size: 12px;
  text-align: center;
  color: #53565a;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.happinessPicker-module-singleHappiness:focus > svg, .happinessPicker-module-singleHappiness:hover > svg {
  color: #00a3e0;
  transform: scale(1.1);
}

.feedback-btn{
  position: fixed;
  right: -2px;
  z-index: 1;
  padding: 15px 10px;
  display: flex;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  background: #512d6d;
  transition: all .5s;
  color: #fff;
  cursor: pointer;
  border-radius: 6px 0 0 6px;
  justify-content: center;
  align-items: center;
}

.feedback-btn>span{
  writing-mode: vertical-rl;
}

.file-upload-wrapper {
  $defaultColor: #00a3e0;
  $height: 45px;
  border-bottom: 1px solid #ddd;
  
  position: relative;
  width: 100%;
  height: $height;
  
  &:after {
    content: attr(data-text);
    font-size: inherit;
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    padding: 10px 15px;
    display: block;
    width: calc(100% - 40px);
    pointer-events: none;
    z-index: 20;
    height: $height - 20px;
    line-height: $height - 20px;
    color: #999;
    border-radius: 5px 10px 10px 5px;
    font-weight: 300;
  }
  
  &:before {
    content: 'Upload';
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
    height: 45px;
    background: $defaultColor;
    color: #fff;
    font-weight: 700;
    z-index: 25;
    font-size: 16px;
    line-height: $height;
    padding: 0 15px;
    // text-transform: uppercase;
    pointer-events: none;
    border-radius: 0 5px 5px 0;
  }
  
  &:hover {
    &:before {
      background: darken($defaultColor, 10%);
    }
  }
   input {
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99;
    height: $height - 20px;
    margin: 0;
    padding: 0;
    display: block;
    cursor: pointer;
    width: 100%;
  }
}

.common-module-box{
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 48px;
  animation: 200ms cubic-bezier(0.4, 0, 0.2, 1);
}

.common-module-box > img{
  position: relative;
    animation: 500ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 120px;
    height: 120px;
    margin-bottom: 30px;
}

.success-module-box{
  animation: none;
  display: -webkit-inline-box;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.success-module-box > .success-module-thanksForFeedback{
  color: #53565a;
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 8px;
  position: relative;
  animation: 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.success-module-box > .success-module-getBackToYou{
  width: 70%;
  text-align: center;
  color: #a7a8aa;
  position: relative;
  animation: Success-module_hand-mount__1BqWK 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.m-bot-10{
  margin-bottom: 10px !important;
}