label {
    .required {
        color: red;
    }
}

.border-seperator {
  border-bottom: 1px solid #c7c5c5;
}

.border-seperator:last-child {
  border-bottom: 0;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .material-icons {
    font-size: 15px;
  } 

  .text-section {
    text-align: center;
  }

  .modal-title {
    font-size: 18px;
  }
}

// Validation styles
.ng-value {
  font-size: .9em;
  margin-bottom: 5px;
  color: rgb(255, 255, 255);
  background-color: #9b0808;
  border-radius: 2px;
  margin-right: 5px;
  white-space: nowrap;
  display: inline-block;
}

.ng-value-icon {
  display: inline-block;
  padding: 1px 5px;
  cursor: pointer;
}

.ng-value-icon.left {
  border-right: 1px solid #580505;
}

.ng-value-label {
  display: inline-block;
  padding: 1px 5px;
}

.display-4{
  font-size: 1.5rem;
}

.jumbotron {
  padding: 1rem;
}