.custom-control.custom-checkbox {
  margin-top: 2rem !important;
}

label {
  .required {
      color: red;
  }
}

.element-view {
  display: table !important;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .text-section {
    text-align: center;
  }

  .modal-title {
    font-size: 18px;
  }
}

// Validation modal 
.ng-value {
  font-size: .9em;
  margin-bottom: 5px;
  color: rgb(255, 255, 255);
  background-color: #9b0808;
  border-radius: 2px;
  margin-right: 5px;
  white-space: nowrap;
  display: inline-block;
}

.ng-value-icon {
  display: inline-block;
  padding: 1px 5px;
  cursor: pointer;
}

.ng-value-icon.left {
  border-right: 1px solid #580505;
}

.ng-value-label {
  display: inline-block;
  padding: 1px 5px;
}

.display-4{
  font-size: 1.5rem;
}

.jumbotron {
  padding: 1rem;
}