.error-content-loading {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%,-50%); /* IE 9 */
  -webkit-transform: translate(-50%,-50%); /* Safari */
  transform: translate(-50%,-50%); /* Standard syntax */
}
