.card-loader {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%,-50%); /* IE 9 */
  -webkit-transform: translate(-50%,-50%); /* Safari */
  transform: translate(-50%,-50%); /* Standard syntax */
  z-index: 2000;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%,-50%); /* IE 9 */
  -webkit-transform: translate(-50%,-50%); /* Safari */
  transform: translate(-50%,-50%); /* Standard syntax */
  z-index: 2000;
}

.outer,
.middle,
.inner {
  border: 3px solid transparent;
  border-top-color: $primary;
  border-right-color: $primary;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
}

.outer {
  width: 3.5em;
  height: 3.5em;
  margin-left: -1.75em;
  margin-top: -1.75em;
  animation: spin 2s linear infinite;
}

.middle {
  width: 2.1em;
  height: 2.1em;
  margin-left: -1.05em;
  margin-top: -1.05em;
  animation: spin 1.75s linear reverse infinite;
}

.inner {
  width: 0.8em;
  height: 0.8em;
  margin-left: -0.4em;
  margin-top: -0.4em;
  animation: spin 1.5s linear infinite;
}

.text-loader {
  font-weight: bold;
  padding-top: 5rem !important;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
